# 미니프로젝트 - 카페지수 만들기. 세종시로 먼저 연습!

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### 1.데이터불러오기

In [106]:
df= pd.read_csv('소상공인시장진흥공단_상가(상권)정보_20211231/소상공인시장진흥공단_상가(상권)정보_세종_202112.csv')
print(df.shape)

(10543, 39)

### 2.원하는 정보 추출

- 전체리스트에서 원하는 것만 불러오기

In [107]:
#상호명/상권업종중분류코드/시군구명/행정동명/지번주소/경도/위도 가져오기
df = df[['상호명','상권업종중분류코드','시도명','시군구명']]
df.head()

            상호명 상권업종중분류코드      시도명     시군구명
0            5바       Q09  세종특별자치시  세종특별자치시
1    동양농기연기대전대리       D21  세종특별자치시  세종특별자치시
2        코리아부동산       L01  세종특별자치시  세종특별자치시
3           수목길       Q01  세종특별자치시  세종특별자치시
4  세븐일레븐세종침산원룸점       D03  세종특별자치시  세종특별자치시

In [108]:
#상업업종중분류코드 Q12(커피점/카페)만 추출
df = df[df.상권업종중분류코드 == 'Q12']
df.head()

          상호명 상권업종중분류코드      시도명     시군구명
240      커피예술       Q12  세종특별자치시  세종특별자치시
244      청년다방       Q12  세종특별자치시  세종특별자치시
258  브라운힐스커피숍       Q12  세종특별자치시  세종특별자치시
332     바이핸커피       Q12  세종특별자치시  세종특별자치시
382       콜다방       Q12  세종특별자치시  세종특별자치시

- 스타벅스/커피빈/이디아/빽다방 구하기

In [109]:
df['스타벅스'] = df.상호명.str.contains('스타벅스').astype(int)
df['커피빈'] = df.상호명.str.contains('커피빈').astype(int)
df['이디야'] = df.상호명.str.contains('이디야').astype(int)
df['빽다방'] = df.상호명.str.contains('빽다방').astype(int)
df.tail()

           상호명 상권업종중분류코드      시도명     시군구명  스타벅스  커피빈  이디야  빽다방
10402  클로버보드게임       Q12  세종특별자치시  세종특별자치시     0    0    0    0
10432   읍천리382       Q12  세종특별자치시  세종특별자치시     0    0    0    0
10456       카페       Q12  세종특별자치시  세종특별자치시     0    0    0    0
10505       바림       Q12  세종특별자치시  세종특별자치시     0    0    0    0
10526      빽다방       Q12  세종특별자치시  세종특별자치시     0    0    0    1

In [111]:
df2 = df.groupby(['시도명','시군구명'])[['스타벅스','커피빈','이디야','빽다방']].sum()
df2

                 스타벅스  커피빈  이디야  빽다방
시도명     시군구명
세종특별자치시 세종특별자치시     7    0   14    6

In [113]:
#커피지수
df2['커피지수']= (df2.스타벅스 + df2.커피빈) / (df2.이디야 + df2.빽다방)
df2

                 스타벅스  커피빈  이디야  빽다방  커피지수
시도명     시군구명
세종특별자치시 세종특별자치시     7    0   14    6  0.35