# Pandas - 문자열 조작

In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('법정동코드 전체자료.txt',sep='\t',encoding=('EUC-KR'))
df

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46323  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46324  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46325  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46326  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46327  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[46328 rows x 3 columns]

In [15]:
len(df), df.shape

(46328, (46328, 3))

In [16]:
# 폐지된 주소는 삭제되도록 필터링
df = df[df.폐지여부 == '존재']
df.shape

(20551, 3)

- 문자열 매소드 1 : 인덱싱

In [17]:
df.법정동명.str[:5].head()

0    서울특별시
1    서울특별시
2    서울특별시
3    서울특별시
4    서울특별시
Name: 법정동명, dtype: object

- 문자열 매소드2 : 찾기 find

In [21]:
df.법정동명.str.find('서울').head()

#0이상의 값이 나오면 포함 미만이면 없는것

0    0
1    0
2    0
3    0
4    0
Name: 법정동명, dtype: int64

In [22]:
df.법정동명.str.find('서울').tail()

46323   -1
46324   -1
46325   -1
46326   -1
46327   -1
Name: 법정동명, dtype: int64

- 분할 str.split()

In [23]:
df.법정동명.str.split().head()

0              [서울특별시]
1         [서울특별시, 종로구]
2    [서울특별시, 종로구, 청운동]
3    [서울특별시, 종로구, 신교동]
4    [서울특별시, 종로구, 궁정동]
Name: 법정동명, dtype: object

- 포함글자 인식 : .str.contains()

In [24]:
df.법정동명.str.contains('서울').head()

0    True
1    True
2    True
3    True
4    True
Name: 법정동명, dtype: bool

In [25]:
secho = df[df.법정동명.str.contains('서초')]
len(secho)

12

In [26]:
secho

            법정동코드               법정동명 폐지여부
975    1165000000          서울특별시 서초구   존재
977    1165010100      서울특별시 서초구 방배동   존재
978    1165010200      서울특별시 서초구 양재동   존재
979    1165010300      서울특별시 서초구 우면동   존재
980    1165010400      서울특별시 서초구 원지동   존재
982    1165010600      서울특별시 서초구 잠원동   존재
983    1165010700      서울특별시 서초구 반포동   존재
984    1165010800      서울특별시 서초구 서초동   존재
985    1165010900      서울특별시 서초구 내곡동   존재
986    1165011000      서울특별시 서초구 염곡동   존재
987    1165011100      서울특별시 서초구 신원동   존재
21029  4481033033  충청남도 예산군 광시면 서초정리   존재

- 문자 대체 : .str.replace()  하이라이트!!!!

In [28]:
df.법정동명.str.replace(' ','_').head()

0            서울특별시
1        서울특별시_종로구
2    서울특별시_종로구_청운동
3    서울특별시_종로구_신교동
4    서울특별시_종로구_궁정동
Name: 법정동명, dtype: object

In [29]:
secho.법정동명 = secho.법정동명.str.replace(' ', '$%$#')
secho.head()

C:\Users\Owner\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

          법정동코드                 법정동명 폐지여부
975  1165000000         서울특별시$%$#서초구   존재
977  1165010100  서울특별시$%$#서초구$%$#방배동   존재
978  1165010200  서울특별시$%$#서초구$%$#양재동   존재
979  1165010300  서울특별시$%$#서초구$%$#우면동   존재
980  1165010400  서울특별시$%$#서초구$%$#원지동   존재

In [31]:
#.str.replace() 에서는 정규표현식이 사용 가능하다.
#한글이 아닌것은 ' ' 공백으로 만든다는 코드
secho.법정동명 = secho.법정동명.str.replace('[^가-힣]',' ')
secho

C:\Users\Owner\AppData\Local\Temp/ipykernel_20712/1018458548.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  secho.법정동명 = secho.법정동명.str.replace('[^가-힣]',' ')
C:\Users\Owner\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

            법정동코드                        법정동명 폐지여부
975    1165000000                서울특별시    서초구   존재
977    1165010100         서울특별시    서초구    방배동   존재
978    1165010200         서울특별시    서초구    양재동   존재
979    1165010300         서울특별시    서초구    우면동   존재
980    1165010400         서울특별시    서초구    원지동   존재
982    1165010600         서울특별시    서초구    잠원동   존재
983    1165010700         서울특별시    서초구    반포동   존재
984    1165010800         서울특별시    서초구    서초동   존재
985    1165010900         서울특별시    서초구    내곡동   존재
986    1165011000         서울특별시    서초구    염곡동   존재
987    1165011100         서울특별시    서초구    신원동   존재
21029  4481033033  충청남도    예산군    광시면    서초정리   존재

In [35]:
filename = '서울시CCTV설치운영현황(자치구)_년도별_211231기준.csv'
cctv = pd. read_csv(filename, skiprows=1, encoding='EUC-KR') 


#방법1
cctv['총계'].apply(lambda x : int(x.replace(',',''))).head()

0    83557
1     1715
2     2447
3     2611
4     3829
Name: 총계, dtype: int64

In [36]:
#방법 2
cctv['총계'].str.replace(',','').astype(int).head()

0    83557
1     1715
2     2447
3     2611
4     3829
Name: 총계, dtype: int32

그밖에 문자열 매소드 strip(), lower(), upper() 등 도 사용 가능하다.