# 데이터프래임 - 시계열 자료

In [1]:
import numpy as np
import pandas as pd

- DatetimeIndex 인덱스

In [3]:
date_str = ['2022, 4, 1','2022-4-2','20220403', '2022.4.4','4/5/2022','040622']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06'],
              dtype='datetime64[ns]', freq=None)

In [5]:
np.random.seed(2022)
s = pd.Series(np.random.randint(40,101,6), index=idx)
s

2022-04-01    68
2022-04-02    85
2022-04-03    88
2022-04-04    89
2022-04-05    89
2022-04-06    88
dtype: int32

In [6]:
pd.date_range('20220401','2022-04-30') # 시작일자, 종료일자

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [7]:
pd.date_range('20220401',periods=30)

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [10]:
#주말을 제외 한 주중 일자로 30개 추출
pd.date_range('20220401',periods=30, freq='B')

DatetimeIndex(['2022-04-01', '2022-04-04', '2022-04-05', '2022-04-06',
               '2022-04-07', '2022-04-08', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-18',
               '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-22',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-05-02', '2022-05-03', '2022-05-04',
               '2022-05-05', '2022-05-06', '2022-05-09', '2022-05-10',
               '2022-05-11', '2022-05-12'],
              dtype='datetime64[ns]', freq='B')

In [11]:
#일요일
pd.date_range('20220401','20220430', freq='W')

DatetimeIndex(['2022-04-03', '2022-04-10', '2022-04-17', '2022-04-24'], dtype='datetime64[ns]', freq='W-SUN')

- rasample 연산

In [14]:
ts = pd.Series(np.random.randint(100,1000,100),
                index=pd.date_range('20220101',periods=100))
ts.tail()

2022-04-06    412
2022-04-07    873
2022-04-08    131
2022-04-09    355
2022-04-10    554
Freq: D, dtype: int32

In [15]:
#각 달의 마지막날
ts.resample('M').first()

2022-01-31    338
2022-02-28    475
2022-03-31    696
2022-04-30    980
Freq: M, dtype: int32

In [18]:
ts.head(3)

2022-01-01    338
2022-01-02    844
2022-01-03    955
Freq: D, dtype: int32

In [16]:
ts.resample('W').mean()

2022-01-02    591.000000
2022-01-09    538.571429
2022-01-16    699.571429
2022-01-23    545.428571
2022-01-30    606.000000
2022-02-06    475.000000
2022-02-13    590.857143
2022-02-20    559.428571
2022-02-27    424.571429
2022-03-06    501.857143
2022-03-13    331.000000
2022-03-20    599.428571
2022-03-27    463.857143
2022-04-03    600.000000
2022-04-10    391.142857
Freq: W-SUN, dtype: float64